/* ###################################
Project :Home Page 2
Themelink : https://angular.pixelstrap.com/unice/enterprice

###################################### */


/* ###################################
    Global Site Custom Css
###################################### */

/* FONT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* Site Custom Css */

a,
a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

ul li {
    list-style: none;
}

.pdtb-100 {
    padding: 100px 0px;
}

.pdtb-50 {
    padding: 100px 0px;
}

.pdb-50 {
    padding-bottom: 50px;
}

.text-orange {
    color: #F7A30A;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #111111;
}


p {
    font-size: 14px;
    line-height: 26px;
}

D
/* Section Title */

.section-title {}

.section-title h5 {
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    margin-bottom: 30px;
}

.section-title h3 {
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
}

.section-title p {
    font-size: 14px;
    line-height: 26px;
}




/* ###################################
    END Global Site Custom Css
###################################### */



/* ###################################
     Site Css
###################################### */

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #343434;
}


/* ##### Header ##### */

.header2 .container-fluid,
.header2 .container-lg,
.header2 .container-md,
.header2 .container-sm,
.header2 .container-xl {
    padding-left: 0;
}


.header2 {
    background: linear-gradient(rgba(3, 6, 28, 0.7), rgba(3, 6, 28, 0.9)), url(../img/Home-2/bg-intro.jpg);
    background-size: cover;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transform: scale(1);
}


.header2 .navigation2 {
    /* padding: 20px 0px; */
}

.header2 .navigation2 .navbar {
    padding: 0;
}

.header2 .navigation2 .navbar .navbar-brand {
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    padding: 15px 30px;
    background: #F7A30A;
}

.header2 .navigation2 .navbar .nav-number {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    padding-top: 10px;
}

.header2 .navigation2 .navbar .navbar-nav {
    margin-right: 60px;
}

.header2 .navigation2 .navbar .navbar-nav .nav-item .nav-link {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 30px;
    transition: .35s;
}

.active {
    color: #F7A30A !important;
    font-weight: 600 !important;
}

.header2 .navigation2 .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #F7A30A;
}

.dropdown-item {
    font-weight: 500;
    padding: 10px;
    color: #F7A30A;
    transition: .35s;
}

.home-inner {
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-inner {}

.home-inner .home-text {}

.home-inner .home-text h3 {
    font-size: 36px;
    text-transform: capitalize;
}

.home-inner .home-text h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}

.home-inner .home-text p {
    color: #fff;
    font-size: 16px;
    line-height: 30px;
}

.home-inner .home-text .home-btn {
    padding: 10px 0px;
}

.home-inner .home-text .home-btn a {
    color: #fff;
    background: #F7A30A;
    padding: 10px 20px;
    margin: 0px 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #F7A30A;
    transition: .50s;

}

.home-inner .home-text .home-btn a:hover {
    background: transparent;
    color: #F7A30A;
    border: 1px solid #F7A30A;
}

/* ##### End Header ##### */

/* ##### About ##### */


.about {
    position: relative;
}

.about:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    background: #F7A30A;
    height: 230px;
    width: 100%;
    z-index: -1;
}

.about-full {
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 2px 6px 8px -9px #31333e;
}

.about .about-left {}

.about .about-left ul {}

.about .about-left ul li {
    font-size: 14px;
    line-height: 30px;
}

.about .about-left ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f00c";
    font-weight: 900;
    margin-right: 20px;
}



/* ##### End About ##### */

/* ##### SERVICE ##### */

.service {
    background: #F5F3FD;
}

.service-section {}

.service-section .service-inner {
    padding: 15px 20px;
    border-radius: 5px;
    box-shadow: 1px 3px 11px -7px #31333e;
    margin-bottom: 30px;
    background: #fff;
}

.service-section .s-active {
    color: #31333e;
    background: #F7A30A;
}

.service-section .s-active i {
    color: #fff !important;

}

.service-section .service-inner i {
    font-size: 60px;
    line-height: 100px;
    color: #F7A30A;
}

.service-section .service-inner h4 {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}

.service-section .service-inner p {
    font-size: 14px;
    line-height: 26px;
}

/* ##### END SERVICE ##### */


/* ##### Work ##### */

.work .container-fluid,
.work .container-lg,
.work .container-md,
.work .container-sm,
.work .container-xl {
    padding-right: 0px;
    padding-left: 0px;
}

.work {}

.work .section-title {
    padding: 120px 0px 80px 0px;
    background: #161616;
    width: 100% !important;
}

.work .section-title h3 {
    color: #fff;
}

.work .section-title p {
    color: #fff;
}

.work .work-section {}

.work .work-section .work-item {
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    display: table;
    width: 100%;
    cursor: pointer;
    transition: .35s;
}

.work .work-section .work-item:hover .work-item-content {
    display: table-cell;
    opacity: 1;
}

.work .work-section .work-item .work-item-content {
    background: #F7A30A;
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: .35s;
}

.work .work-section .work-item .work-item-content h5{
    color: #fff;
}



.work-bg-1 {
    background-image: url(../img/Home-2/work1.jpg);
}

.work-bg-2 {
    background-image: url(../img/Home-2/work2.jpg);
}

.work-bg-3 {
    background-image: url(../img/Home-2/work3.jpg);
}

.work-bg-4 {
    background-image: url(../img/Home-2/work4.jpg);
}

.work-bg-5 {
    background-image: url(../img/Home-2/work5.jpg);
}

.work-bg-6 {
    background-image: url(../img/Home-2/work6.jpg);
}